<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{2,902},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{264,1094},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{381,1094},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{915,1085},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABTP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{915,1192},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{133,902},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{2,1164},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{119,1164},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{264,963},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{395,963},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{498,1189},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{615,1189},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad-D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{2,110},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad-DL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{561,2},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad-DR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{561,266},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad-L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{266,277},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad-R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{2,374},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad-U.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{530,530},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad-UL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{266,541},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad-UR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{2,638},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{530,794},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,76}</string>
                <key>spriteSourceSize</key>
                <string>{151,76}</string>
                <key>textureRect</key>
                <string>{{825,100},{151,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,76}</string>
                <key>spriteSourceSize</key>
                <string>{151,76}</string>
                <key>textureRect</key>
                <string>{{825,178},{151,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,76}</string>
                <key>spriteSourceSize</key>
                <string>{151,76}</string>
                <key>textureRect</key>
                <string>{{825,256},{151,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,76}</string>
                <key>spriteSourceSize</key>
                <string>{151,76}</string>
                <key>textureRect</key>
                <string>{{825,334},{151,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{825,412},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{825,459},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{825,506},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StartP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{473,805},{134,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{2,1033},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{133,1033},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{526,1058},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{657,1058},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgEditorGamePad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,68}</string>
                <key>textureRect</key>
                <string>{{732,1212},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_option_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,77}</string>
                <key>spriteSourceSize</key>
                <string>{205,77}</string>
                <key>textureRect</key>
                <string>{{266,805},{205,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_resize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,282}</string>
                <key>spriteSourceSize</key>
                <string>{106,282}</string>
                <key>textureRect</key>
                <string>{{2,2},{106,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_slider_alpha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,47}</string>
                <key>spriteSourceSize</key>
                <string>{196,47}</string>
                <key>textureRect</key>
                <string>{{825,2},{196,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_slider_resize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,47}</string>
                <key>spriteSourceSize</key>
                <string>{196,47}</string>
                <key>textureRect</key>
                <string>{{825,51},{196,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_small_control.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,77}</string>
                <key>spriteSourceSize</key>
                <string>{205,77}</string>
                <key>textureRect</key>
                <string>{{266,884},{205,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,80}</string>
                <key>spriteSourceSize</key>
                <string>{205,80}</string>
                <key>textureRect</key>
                <string>{{794,593},{205,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_default_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,80}</string>
                <key>spriteSourceSize</key>
                <string>{205,80}</string>
                <key>textureRect</key>
                <string>{{794,675},{205,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_done.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,80}</string>
                <key>spriteSourceSize</key>
                <string>{205,80}</string>
                <key>textureRect</key>
                <string>{{794,757},{205,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_done_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,80}</string>
                <key>spriteSourceSize</key>
                <string>{205,80}</string>
                <key>textureRect</key>
                <string>{{794,839},{205,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_profiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,80}</string>
                <key>spriteSourceSize</key>
                <string>{205,80}</string>
                <key>textureRect</key>
                <string>{{794,921},{205,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_profiles_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,80}</string>
                <key>spriteSourceSize</key>
                <string>{205,80}</string>
                <key>textureRect</key>
                <string>{{794,1003},{205,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{804,1212},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icoMove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{978,274},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_LR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,37}</string>
                <key>spriteSourceSize</key>
                <string>{84,37}</string>
                <key>textureRect</key>
                <string>{{978,314},{84,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_SS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,37}</string>
                <key>spriteSourceSize</key>
                <string>{84,37}</string>
                <key>textureRect</key>
                <string>{{978,400},{84,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_dpad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{961,486},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_joystick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{961,540},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_slider_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,27}</string>
                <key>spriteSourceSize</key>
                <string>{68,27}</string>
                <key>textureRect</key>
                <string>{{530,277},{68,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_slider_button_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,27}</string>
                <key>spriteSourceSize</key>
                <string>{68,27}</string>
                <key>textureRect</key>
                <string>{{530,347},{68,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joyBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,273}</string>
                <key>spriteSourceSize</key>
                <string>{273,273}</string>
                <key>textureRect</key>
                <string>{{286,2},{273,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joyDot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{788,1085},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switch_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{530,417},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switch_off_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,43}</string>
                <key>spriteSourceSize</key>
                <string>{85,43}</string>
                <key>textureRect</key>
                <string>{{978,100},{85,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>switch_on_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,43}</string>
                <key>spriteSourceSize</key>
                <string>{85,43}</string>
                <key>textureRect</key>
                <string>{{978,187},{85,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GamePad.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4742ff6ea48da804370352303e9c09d:e1862fcfb8f7911d28b77ffdfd832a3d:e46192b8428d76cbcf9d12440e0d6c09$</string>
            <key>textureFileName</key>
            <string>GamePad.png</string>
        </dict>
    </dict>
</plist>
